* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f1f2f7;
}

.container {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #dee2e6 !important;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 350px;
}

.container .col-2 {
  line-height: 1.5rem;
  color: #212529;
  font-weight: 400;
}

.col-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col-3 a {
  text-decoration: none;
}

.sair {
  color: #dc3545;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 20px;
}

.sair:hover {
  background-color: #dc3545;
  color: white;
  transition: 0.5s;
}

.container-page {
  width: 60vw;
  padding: 50px 0;
  margin: auto;
}

.container-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.container-icons i {
  font-size: 50px;
}

.preventivo {
  width: 250px;
  background-color: #fff;
  padding: 1.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.reativo {
  display: flex;
  width: 250px;
  background-color: #fff;
  padding: 1.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.especial {
  display: flex;
  width: 250px;
  background-color: #fff;
  padding: 1.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.reversa {
  display: flex;
  width: 250px;
  background-color: #fff;
  padding: 1.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.image {
  display: flex;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
}